@font-face {
    font-family: "JacquesFrancois";
    src: url(./JacquesFrancois-Regular.ttf);
}

* {
    padding: 0;
    margin: 0;
    font-family:"JacquesFrancois";
}

body {
    background-color: #2a2823;
}

/* HOME PAGE*/

.index-page {
    background: url('./images/index_bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.header {
    top: 0;
    width: 100%;
    padding: 30px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 100;
}

.navbar a {
    font-size: 18px;
    color: #FFF;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    margin: 40px;
}

#home {
    margin-top: 130px;
}

#home h1 {
    color: #fff;
    font-size: 90px;
    text-align: center;
    font-weight: 100;
    margin-bottom: 10px;
}

#home p {
    color: #fff;
    font-size: 20px;
    text-align: center;
    font-weight: 100;
}

.home-button {
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

#dl-resume {
    display: inline-block;
    background-color: #404040;
    border-radius: 10px;
    color: #fff;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

/* PROJECTS PAGE*/

#coding-proj {
    display: flex;
    height: 300px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#coding-proj h1 {
    color: #fff;
    font-size: 30px;
    text-align: center;
    font-weight: 100;
    margin-bottom: 10px;
}

#github-btn {
    display: inline-block;
    margin-top: 10px;
    background-color: #404040;
    border-radius: 10px;
    color: #fff;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

#website-proj {
    background-image: url('./images/project_bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    padding: 70px; 
}

.website-content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 40px 100px 0px;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.col-1 {
    margin: 0px 10px;
}

.col-2 {
    margin: 0px 10px;
}

#website-proj h1 {
    color: #fff;
    font-size: 30px;
    text-align: center;
    font-weight: 100;
    margin-bottom: 10px;
}

#website-proj p {
    color: #fff;
    font-size: 16px;
    text-align: center;
}

#website-proj hr {
    margin-top: 20px;
}

#website-proj img {
    height: 300px;
    width: auto;
}

/* CONTACT PAGE*/

#contact {
    margin-top: 130px;
}

#contact h1 {
    color: #fff;
    font-size: 90px;
    text-align: center;
    font-weight: 100;
    margin-bottom: 10px;
}

#contact p {
    color: #fff;
    font-size: 20px;
    text-align: center;
    font-weight: 100;
}

.send-button {
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

#btn-email{
    display: inline-block;
    background-color: #404040;
    border-radius: 10px;
    color: #fff;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

#consultanters-btn {
    display: inline-block;
    margin-top: 10px;
    background-color: #404040;
    border-radius: 10px;
    color: #fff;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

#carnation-btn {
    display: inline-block;
    margin-top: 10px;
    background-color: #404040;
    border-radius: 10px;
    color: #fff;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}