@font-face {
    font-family: "Biz";
    src: url(./BIZUDPMincho-Regular.ttf);
}

@font-face {
    font-family: "Kantum";
    src: url(./KantumruyPro-VariableFont_wght.ttf);
}

* {
    padding: 0;
    margin: 0;
    font-family: "Biz";
}

a {
    text-decoration: none;
}

body {
    margin: 0;
    overflow-x: hidden;
    position: relative;
    background: url(./images/background.png)
}

p {
    font-family: "Kantum";
    color: #5F5F5F;
}

footer {
    text-align: center;
    margin: 10px;
}

h1 {
    color: #008DDA;
}

img {
    border-radius: 10%;
}

.navbar-brand {
    color: #008DDA;
}

.navbar li {
    padding-left: 50px;
}

.banner {
    height: 100vh;
}

.banner h1 {
    font-size: 4em;
    padding: 50px 150px 0px 0px;
}

.viewProjects {
    display: flex;
    width: 100%;
    margin-top: 20px;
}

.clipart {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.clipart img {
    height: 340px;
    width: 400px;
    position: absolute;
}

.circle {
    position: absolute;
    height: 80px;
    width: 80px;
    border: 5px solid #FF8080;
    border-radius: 50%;
    margin-top: 30px;
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

.circle:hover {
    background-color: #FF8080;
    height: 100px;
    width: 100px;
    border: 5px solid #FF8080;
}

.circle:hover .button-wrapper {
    transform: rotate(0deg);
}

.button-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    transform: rotate(-20deg);
    transition: all 0.3s ease;
}

.button-wrapper a {
    color: #5F5F5F;
    display: inline-block;
    white-space: nowrap;
    background-color: #F1EEDC;
}

.about-img {
    display: flex;
    align-content: center;
    justify-content: center;
}

.about-img img {
    height: 400px;
    width: 280px;
}

.img-container {
    text-align: end;
}

.icons {
    margin-top: 10px;
}

.icons i {
    font-size: 40px;
    margin: 0 5px;
    cursor: pointer;
    color: #007bff;
}

.icons i:hover {
    color: #5F5F5F;
    /* Change color on hover */
}

.description p {
    transform: rotate(90deg);
    transform-origin: left bottom;
    display: inline-block;
    white-space: nowrap;
    color: #008DDA;
    font-family: "Biz";
}

.contact {
    height: 100vh;
}