@font-face {
    font-family: "Biz";
    src: url(./BIZUDPMincho-Regular.ttf);
}

@font-face {
    font-family: "Chenla";
    src: url(./KantumruyPro-VariableFont_wght.ttf);
}

* {
    padding: 0;
    margin: 0;
    font-family: "Biz";
}

a {
    text-decoration: none;
}

body {
    background-color: #F1EEDC;
}

p {
    font-family: "Chenla";
    color: 5F5F5F;
}

footer {
    text-align: center;
    margin: 10px;
}

h1 {
    color: #008DDA;
}

.navbar-brand {
    color: #008DDA;
}

.navbar li {
    padding-left: 50px;
}

.banner {
    height: 80vh;
    padding: 50px 150px 0px 0px;
}

.banner h1 {
    font-size: 4em;
}

.viewProjects {
    position: relative;
    margin-left: 5px;
}

.circle {
    position: absolute;
    height: 80px;
    width: 80px;
    border: 5px solid #FF8080;
    border-radius: 50%; /* Correct to 50% for full circle */
    margin-top: 30px;
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

.circle:hover {
    background-color: #FF8080;
    height: 100px;
    width: 100px;
    border: 5px solid #FF8080;
}

.circle:hover .button-wrapper {
    transform: rotate(0deg);
}

.button-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    transform: rotate(-20deg); 
    transition: all 0.3s ease;
}

.button-wrapper a {
    color: #5F5F5F; 
    display: inline-block;
    white-space: nowrap; 
    background-color: #F1EEDC;
}

.about {
    display: flex;
    height: 80vh;
    align-items: center;
}

.about-img {
    display: flex;
    align-content: center;
    justify-content: center;
}

.about-img img {
    border-radius: 10%;
    height: 400px;
    width: 280px;
}

.img-container {
    text-align: end;
}

.icons {
    margin-top: 10px;
}

.icons i {
    font-size: 40px; 
    margin: 0 5px; 
    cursor: pointer; 
    color: #007bff;
}

.icons i:hover {
    color: #5F5F5F; /* Change color on hover */
}

.description p {
    transform: rotate(90deg);
    transform-origin: left bottom;
    display: inline-block;
    white-space: nowrap;
    color: #008DDA;
    font-family: "Biz";
}

.projects {
    height: 80vh;
    align-content: center;
}

.contact {
    height: 80vh;
    align-content: center;
}