@font-face {
    font-family: "Biz";
    src: url(./fonts/BIZUDPMincho-Regular.ttf);
}

@font-face {
    font-family: "Kantum";
    src: url(./fonts/KantumruyPro-VariableFont_wght.ttf);
}

* {
    padding: 0;
    margin: 0;
    font-family: "Biz";
}

a {
    text-decoration: none;
    color: #000;
}

body {
    margin: 0;
    overflow-x: hidden;
    position: relative;
    background: url(/images/background.png);
}

p {
    font-family: "Kantum";
    color: #000;
}

footer {
    text-align: center;
    margin: 10px;
}

h1 {
    color: #008DDA;
}

h2 {
    font-size: 1em;
    font-family: "Kantum";
    font-weight: normal;
    text-transform: uppercase;
}

img {
    border-color: #5F5F5F;
    border-style: solid;
}

.navbar-brand {
    color: #008DDA;
}

.navbar li {
    padding-left: 50px;
}

.banner {
    height: 100vh;
}

.banner h1 {
    font-size: 4em;
    padding: 50px 150px 0px 0px;
}

.banner img {
    border-style: none;
}

.clipart {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.clipart img {
    height: 340px;
    width: 400px;
    position: absolute;
}

.circle {
    position: absolute;
    height: 80px;
    width: 80px;
    border: 5px solid #FF8080;
    border-radius: 50%;
    margin-top: 30px;
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

.circle:hover {
    background-color: #FF8080;
    height: 100px;
    width: 100px;
    border: 5px solid #FF8080;
}

.circle:hover .button-wrapper {
    transform: rotate(0deg);
}

.button-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    transform: rotate(-20deg);
    transition: all 0.3s ease;
}

.button-wrapper a {
    color: #5F5F5F;
    display: inline-block;
    white-space: nowrap;
    background-color: #F1EEDC;
}

.about-img {
    display: flex;
    align-content: flex-end;
    justify-content: flex-end;
}

.about-img img {
    height: 400px;
    width: 280px;
}

.img-container {
    text-align: end;
}

.icons {
    margin-top: 10px;
}

.icons i {
    font-size: 40px;
    margin: 0 5px;
    cursor: pointer;
    color: #007bff;
}

.icons i:hover {
    color: #5F5F5F;
}

.description p {
    transform: rotate(90deg);
    transform-origin: left bottom;
    display: inline-block;
    white-space: nowrap;
    color: #008DDA;
    font-family: "Biz";
}

.project-description {
    align-content: center;
}

.view-project {
    color: #FF8080;
}

.contact-clip {
    align-content: center;
}

.contact img {
    border-style: none;
    height: 340px;
    width: 400px;
}

.contact h1 {
    padding: 0px 0px 20px;
}

.contact input,
select {
    color: #404040;
    width: 80%;
    padding: 12px 20px;
    margin: 10px 0;
    display: inline-block;
    border: 2px solid #FF8080;
    box-sizing: border-box;
    background-color: #F1EEDC;
}

.contact input[id=message],
select {
    height: 150px;
}

.contact input[type=submit] {
    width: 40%;
    background-color: #FF8080;
    color: #fff;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.title img {
    border-style: none;
}

.title h2 {
    font-family: "Biz";
    font-size: 1.5em;
    color: #FF8080;
}

.cinnamoroll-gifs {
    height: 750px;
    width: 450px;
    border-style: solid;
}

.game-content h2 {
    text-transform: none;
}

.game-content ol li {
    font-family: "Kantum";
} 

.img-wireframe {
    max-height: 30rem;
    max-width: 13rem;
}

.img-prototype {
    max-height: 30rem;
    max-width: 13rem;
}

.wireframes {
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 600px) {
    .banner h1 {
        font-size: 2em;
        padding: 30px 0px 0px;
    }

    .clipart {
        width: 100%;
    }
    
    .clipart img {
        height: 240px;
        width: 300px;
        position: absolute;
    }

    .about-img {
        display: block;
        align-content: center;
        justify-content: center;
    }
    
    .about-img img {
        height: 300px;
        width: 230px;
    }

    .description p {
        display: none;
    }
    
    .contact img {
        border-style: none;
        height: 180px;
        width: 200px;
        z-index: -1;
    }

    .contact-clip {
        display: flex;
        align-content: center;
        justify-content: flex-end;
    }

    .contact input[type=submit] {
        width: 50%;
    }

    .cinnamoroll-gifs {
        height: 450px;
        width: 250px;
        border-style: solid;
        padding: 0;
    }

    .game-content .circle {
        display: none;
    }
}